
.title-of-website {
  color: #2f2f2f;
}
.explore_in_homepage {
  padding: 4vw !important;
}
.boton-e {
  padding: 12px 30px;
  border: 2px solid #2c2c2c;
  background-color: #222222;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}
.boton-e:hover {
  color: #ffffff;
  background: #000000;
  border-color: #000000;
}
.product-price {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #2f2f2f;
  font-weight: bold;
}
.product-title {
  font-size: 20px;
  text-align: center;
  color: #2f2f2f;
}
.img-product {
  width: 300px;
}
